body {
    background-size: cover;
    background-image: url(../IMAGES/pizza2.jpg);
}

.intro{
    background-image: url(../IMAGES/banner.jpg);
    background-position: center;
    text-align: center;
    color: rgb(15, 15, 15);
    font-style: oblique;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    font-style: oblique;
    color: rgb(247, 246, 240);
    height: 10px;
    align-items: center;
    text-align: center;
}




