body {
    background-size: cover;
    background-image: url(../IMAGES/pizza\ wallpaper.jpg);
}

.navbar{
    background-repeat: no-repeat;
    background-size: cover;
    font-style: oblique;
    background-color: rgb(26, 22, 22);
}

.container{
    text-align: center;
    font-style: oblique;
}

.jumbotron{
    color: yellow;
    background-image: url(../IMAGES/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
}

.card{
    align-items: center;
    background-image: url(../IMAGES/download\ \(7\).jpg);
}

h4{
    color: rgb(10, 10, 10);
    font-style: oblique;
    text-align: center;
}





